*{
    padding: 0;
    margin: 0;
}
body{
    height: 150vh;
    background-image: linear-gradient(to top, #e5f1f2, #accbd2, #77a5b7, #437e9e, #005986);
}
nav{
    height: 60px;
    background-color: #005986;
}
input{
    width: 30%;
    padding: 10px;
    margin-left: 35%;
    background-color: #337a9e;
    border: none;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}
button{
    position: relative;
    right: 42px;
    padding: 7px 10px 7px 10px;   
    border-radius: 11px; 
    border: none;
    font-size: 17px;
    background-color: #337a9e;
    color: white;
}
.card{
width: 50%;
height: 40vh;
margin-top: 15px;
border-radius: 10px;
margin: auto;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-image: linear-gradient(to top, #2f8fc1, #3a9fcd, #47afd8, #55c0e3, #65d0ee);
}
.card h2{
    background-color: #305f6b;
    color: white;
    padding: 5px 0 5px 15px;
    border-radius: 10px 10px 0 0;
   
}
.img{
    float: right;
}
.img img{
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-top: 30px;

}
.content{
    float: left;
}
.content h1{
    color: white;
    font-size: 100px;
    margin-left: 15px;
    font-family: cursive;
}
.content h4{
    color: rgb(142, 224, 18);
    margin-left: 15px;
    font-size: 25px;
}
.content span{
    color: white;
    font-size: 20px;
    margin-left: 15px;
}


   /* card2 */

   .card2{
       background-color: white;
       width: 50%;
       margin: auto;
       border-radius: 10px;
       margin-top: 10px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   } table{
       width: 100%;
   }
   td:first-child{
       font-size: 17px;
       padding: 10px;
       border-bottom: 1px solid lightgray;
   }
   td:last-child{
       text-align: center;
       font-size: 17px;
       border-bottom: 1px solid lightgray;
       font-weight: bold;
   }
   .card2 h1{
       margin-left: 15px;
       color: blue;
   }
   .card2 h2{
       margin-left: 15px;
   }
    p{
       margin-left: 15px;
   }


   
.daily{
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.flex{
    display: flex;   
    justify-content:space-evenly; 
   
}

.flex1{
   border-right: 1px solid lightgrey;
    padding: 10px 20px 10px 20px;
}
.flex1 h1{
    text-align: center;
    color: rgb(66, 66, 240);
    font-family: cursive;
}
.flex1 h3{
 text-align: center;
}
.flex1 h4{
    text-align: center;
    margin-top: 10px;
    color: rgb(19, 189, 19);
}

.flex1 img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
}

h2{
    font-family: sans-serif;
}

@media(max-width:850px) {
    body{
        height: 220vh;
    }
    .card{
    width: 80%;
    height: 45vh;
    }
    .daily{
        width: 80%;
    }
 .card2{
     width: 80%;
 }
 .flex{
     flex-wrap: wrap;
 }
}
@media(max-width:550px) {
    .card{
    width: 95%;
    height: 45vh;
    }
    .daily{
        width: 95%;
    }
    .card2{
        width: 95%;
    }
    .content h1{
        font-size: 60px;
    }
    input{
        width: 70%;
        margin-left: 10%;
    }
    .img img{
        width: 90px;
        height: 90px;
        margin-right: 0px;
        margin-top: 30px;
    
    }
}